@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=The+Girl+Next+Door&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'The Girl Next Door', cursive; */
/* font-family: 'Lobster', cursive; */
/* font-family: 'Pacifico', cursive; */

body{
    font-family: 'The Girl Next Door', cursive;
    height: 5000px;
    background-image: url('image/background4.png');
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;

    /* Center the background image */
    background-position: center;

    /* Set the background image to no repeat */
    background-repeat: no-repeat;

    /* Scale the background image to be as large as possible */
    background-size: cover;
}

hr {
    border: none;
    height: 4px;
    width: 50%;
    opacity: 1;
    background-color: #be454f; /* Modern Browsers */
}


#nama {
    font-family: 'Lobster', cursive;
}
#pembukaan {
    font-family: 'Poppins', sans-serif; 
}
#banner {
    font-family: 'Pacifico', cursive;
}

#tentangkami .accordion-body{
    font-size: 14px;
    font-family: 'Poppins', sans-serif; 
}

#lokasi .card{
    font-family: 'Poppins', sans-serif; 
}

#banner .card{
    background-color: #FFC5C6;
    width: 80%;
    border-radius: 30px;
}

#amplop .card{
    font-family: 'Poppins', sans-serif;
    width: 80%; 
}

#pesan .card{
    font-family: 'Poppins', sans-serif;
    width: 80%; 
}


.nav-link{
    color: #be454f;
}

.c1{
    color: #be454f;
}

@keyframes floaterfont {
    0%{transform: translateY(-10%);transition: ease 0.5s;}
    50%{transform: translateY(10%);transition: ease 0.5s;}
}
  
.floating-font{
    transform: translateY(-10%);
    animation: floaterfont 3s infinite;
    transition: ease 0.5s;
}

@keyframes floaterimg {
    0%{transform: translateY(-2%);transition: ease 0.5s;}
    50%{transform: translateY(2%);transition: ease 0.5s;}
}
  
.floating-img{
    transform: translateY(-2%);
    animation: floaterimg 3s infinite;
    transition: ease 0.5s;
}

@media screen and (max-width:994px) {
    #amplop .card{
        width: 80%;
    }

    body{
        background-image: url('image/background5.png');
        /* Set background image to fixed (don't scroll along with the page) */
        background-attachment: fixed;

        /* Center the background image */
        background-position: center;

        /* Set the background image to no repeat */
        background-repeat: no-repeat;

        /* Scale the background image to be as large as possible */
        background-size: cover;
    }
    
}