@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-image: url('image/backgorund6.jpg');
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;

    /* Center the background image */
    background-position: center;

    /* Set the background image to no repeat */
    background-repeat: no-repeat;

    /* Scale the background image to be as large as possible */
    background-size: cover;
}

.text{
    font-family: 'Pacifico', cursive;
}

.c1{
    color: #693D3C;
}

a{
    position:absolute;
}


@media screen and (max-width:994px) {
    body{
        background-image: url('image/backgorund7.jpg');
    }
}